body{
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}

.button {
	border-radius: 12px;
	background: #fd324e;
	border: none;
	color: white;
	font-size: 18px;
	padding: 8px 12px;
	align-items: flex-start;
	background: linear-gradient(to left, #fe344e, #ff7250);
	cursor: pointer;
	text-decoration: none;
}

input, textarea{
	outline: 0;
}
input:focus, textarea:focus{
	background: lightgray;
}

.logotipo{
	display: inline-block;
}

.menu{
	margin-left: 20%;
	font-size: 24px;
	display: inline-block;
}
.menu li {
	display: inline-block;
	margin-left: 30px
}

.menu a{
	color: white;
	text-decoration: none;
}
#negrita{
	text-decoration: underline
}

.titulo{
	font-size: 70px;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 0px;
	margin-top: 70px;

}

.title-a{
	font-size: 24px;
	margin-top: 0;
}

.guitarras{
	color: #1f313c;
}

.guitarras h2{
	font-size: 35px;
	font-family: 'Montserrat', sans-serif;
}

.title-b{
	font-size: 50px;
	margin-bottom: 20px;
}

.portada{
	background-image: url(../img/background.png);
	color: white;
	background-size: cover;
	padding: 20px;
	height: 500px;
}

.portada button{
	margin-bottom: 70px;
}

.header{
	width: 800px;
	margin: auto;
}

.contenedor{
	width: 1000px;
	margin: auto;
}

.derecha{
	float: right;
	position: relative;
	top: -136px;
}

.izquierda{
	float: left;
	bottom: -65px;
	left: -60px;
	position: absolute;
}

.guitarra{
	margin: 10px;
	padding: 10px;
	/*overflow: hidden;*/
	border: 1px solid #1f313c;
	position: relative;
	border-radius: 8px;
	
}

.contenedor-guitarra-a{
	padding-left: 20px;
}

.contenedor-guitarra-b{
	margin-left: 60%;
	position: relative;
	top: -40px
	
}

.guitarra ol{
	padding: 0;
}

.footer{
	background: #273b47;
	margin-top: 60px;
	display: flex;
	justify-content: space-between;
}

.footer .contenedor{
	display: flex;
	justify-content: space-between;
}

.contacto{
	display: flex;
	width: 330px;      
	flex-wrap: wrap;
	align-items: flex-start;
}

.contacto img{
	display:block;
	padding-top: 40px;
}

.contacto strong{
	display: block;
}

.contacto a{
	text-decoration: none;
	color: white;
	display: inline-block;
	margin: 8px;
}
.email-numero{
	display: flex
}

.formulario{
	display: flex; 
	width: 500px;
	color: white;	
	padding: 50px 10px;
}

.col1, .col2{
	display: flex;
	flex-direction: column;
}
.col1{
	margin-right: 15px;
}
.col2{
	align-items: flex-start;
}

.formulario label, .sexo, .intereces{
	margin-bottom: 10px;
}
.sexo{
	margin-top: 15px;
}

table{
	width: 100%;
}
th{
	background: #273b47;
	color: white;
	padding: 10px;
}
td{
	padding: 20px;
}